/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

/* Test voor leertaak */
.accent-color {
  background-color: var(--accent-color);
  color: white;
}

@layer styleguide {
  /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

  :root {
    /* Colors */
    --primary-color-main: rgb(180 189 208);
    --primary-color-zuidoost: rgb(8 91 100);
    --primary-color-oost: rgb(51 52 103);
    --primary-color-nieuw-west: rgb(109 125 57);
    --accent-color: rgb(234 91 12);

    /* Text colors */
    --text-color-main: rgb(51 52 103);
    --text-color-zuidoost: rgb(8 91 100);
    --text-color-oost: rgb(51 52 103);
    --text-color-nieuw-west: rgb(109 125 57);
    --text-color-buurt: rgb(255 255 255);

    /* Blockquote colors */
    --blockquote-color1: rgb(234 91 12);
    --blockquote-color2: rgb(51 52 103);
    --blockquote-color3: rgb(8 91 100);
    --blockquote-color4: rgb(109 125 57);

    /* Font sizes */
    --font-size-xxl: 2.8rem;
    --font-size-xl: 1.8rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1.2rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.8rem;
  }

  /* Kleuren */
  .accent-color {
    background-color: var(--accent-color);
    color: white;
  }

  .kleur-paars-blauw {
    background-color: var(--paars-blauw);
    color: white;
  }

  .kleur-mos-groen {
    background-color: var(--mos-groen);
    color: black;
  }

  .kleur-mos-donkergroen {
    background-color: var(--mos-donkergroen);
    color: white;
  }

  .kleur-zee {
    background-color: var(--zee);
    color: white;
  }

  .kleur-modder {
    background-color: var(--modder);
    color: white;
  }

  .kleur-lucht-blauw {
    background-color: var(--lucht-blauw);
    color: var(--paars-blauw);
  }

  /* Typografie */
  #typografie {
    font-family: Arial;
  }

  .kop {
    font-size: 2.8rem;
  }

  .sub-kop {
    font-size: 1.8rem;
  }

  .navigatie {
    font-size: 1.5rem;
  }

  .intro {
    font-size: 1.2rem;
  }

  .body {
    font-size: 1rem;
  }

  .figcaption {
    font-size: 0.8rem;
  }

  .subkop {
    font-size: 1rem;
    font-weight: bold;
  }

  /* Formulier elementen */
}
