    @font-face{
  font-family: "Arial-BoldMT";
  src: url("Fonts/Arial-BoldMT.ttf");
}

@font-face{
  font-family: "BuurtCampusArial-Bold";
  src: url("Fonts/BuurtCampusArial-Bold.ttf");
}
  
  * {
    box-sizing: border-box;
    line-height: 1.4;
    font-family: Arial;
  }

@layer styleguide {

   * {
    box-sizing: border-box;
    line-height: 1.4;
    font-family: Arial;
  }

  :root {
    /* Colors */
    --primary-color-main: rgb(180 189 208);
    --primary-color-zuidoost: rgb(8 91 100);
    --primary-color-oost: rgb(51 52 103);
    --primary-color-nieuw-west: rgb(109 125 57);
    --accent-color: rgb(234 91 12);

    /* Text colors */
    --text-color-main: rgb(51 52 103);
    --text-color-zuidoost: rgb(8 91 100);
    --text-color-oost: rgb(51 52 103);
    --text-color-nieuw-west: rgb(109 125 57);
    --text-color-buurt: rgb(255 255 255);
    --text-color-blockquote: rgb(255 255 255);

    /* Blockquote colors */
    --blockquote-color1: rgb(234 91 12);
    --blockquote-color2: rgb(51 52 103);
    --blockquote-color3: rgb(8 91 100);
    --blockquote-color4: rgb(109 125 57);

    /* Button colors */
    --button-color1: rgb(234 91 12);
    --button-color2: rgb(51 52 103);
    --button-color3: rgb(8 91 100);
    --button-color4: rgb(109 125 57);

    /* Font sizes */
    --font-size-xxl: 2.8rem;
    --font-size-xl: 1.8rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1.2rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.8rem;
  }

  /* Classes voor visualisatie styleguide */
  .primary-color-main {
    background-color: var(--primary-color-main);
    color: black;
  }

  .primary-color-zuidoost {
    background-color: var(--primary-color-zuidoost);
    color: white;
  }

  .primary-color-oost {
    background-color: var(--primary-color-oost);
    color: white;
  }

  .primary-color-nieuw-west {
    background-color: var(--primary-color-nieuw-west);
    color: white;
  }

  .accent-color {
    background-color: var(--accent-color);
    color: black;
  }

  /* Typografie */
  /* #typografie {
    
  } */

  .font-size-xxl {
    font-size: 2.8rem;
  }

  .font-size-xl {
    font-size: 1.8rem;
  }

  .font-size-l {
    font-size: 1.5rem;
  }

  .font-size-m {
    font-size: 1.2rem;
  }

  .font-size-s {
    font-size: 1rem;
  }

  .font-size-xs {
    font-size: 0.8rem;
  }

  .bold {
    font-weight: 700;
  }

  .blockquote1 {
    /* Voor elke blockquote (verander de background-color naar wens) */
    background-color: var(--accent-color);
    color: var(--text-color-blockquote);

    text-align: center;
    font-style: italic;

    /* Speel hier zelf mee */
    padding: 0.5rem 1.2rem;
    border-radius: 6rem;
    max-width: 400px;
  }

  /* Formulier elementen */
  .contact-form {
    background-color: var(--primary-color-main);

    padding: 5rem;
    border-radius: 3rem;

    font-size: 1.2rem;

    p {
      display: flex;
      flex-direction: column;
    }
  }

  .input-field,
  .textarea-input-field {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;

    font-size: 1rem;
  }

  .textarea-input-field {
    resize: none;
  }

  .submit-button,
  .button {
    background-color: var(--button-color2);
    color: white;

    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    width: fit-content;

    font-size: 1rem;
  }

  /* Header flaggetjes */
  h1 {
    font-family: "Arial-BoldMT";
  }

  h2 {
    font-family: "Arial-BoldMT";
  }

  p {
    font-family: arial;
  }

  a {
    font-family: "Arial-BoldMT";
    text-decoration: none;
  }

  figcaption {
    font-family: arial;
  }

  code {
    font-family: arial;
  }

  li {
    font-family: arial;
    list-style: none;
  }

  li a{
    text-decoration: none;
    padding: 0.5em;
    padding-right: 1rem;
  }

  th {
    font-family: "Arial-BoldMT";
  }

  td {
    font-family: arial;
  }

  label {
    font-family: arial;
  }

  legend {
    font-family: "Arial-BoldMT";
  }

}
