@layer styleguide {
  :root {
    /* Colors */
    --primary-color-main: rgb(180 189 208);
    --primary-color-zuidoost: rgb(8 91 100);
    --primary-color-oost: rgb(51 52 103);
    --primary-color-nieuw-west: rgb(109 125 57);
    --accent-color: rgb(234 91 12);

    /* Text colors */
    --text-color-main: rgb(51 52 103);
    --text-color-zuidoost: rgb(8 91 100);
    --text-color-oost: rgb(51 52 103);
    --text-color-nieuw-west: rgb(109 125 57);
    --text-color-buurt: rgb(255 255 255);
    --text-color-blockquote: rgb(255 255 255);

    /* Blockquote colors */
    --blockquote-color1: rgb(234 91 12);
    --blockquote-color2: rgb(51 52 103);
    --blockquote-color3: rgb(8 91 100);
    --blockquote-color4: rgb(109 125 57);

    /* Font sizes */
    --font-size-xxl: 2.8rem;
    --font-size-xl: 1.8rem;
    --font-size-l: 1.5rem;
    --font-size-m: 1.2rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.8rem;
  }

  * {
    line-height: 1.4;
  }

  /* Classes voor visualisatie styleguide */
  .color-example1 {
    background-color: var(--primary-color-main);
    color: black;
  }

  .color-example2 {
    background-color: var(--primary-color-zuidoost);
    color: white;
  }

  .color-example3 {
    background-color: var(--primary-color-oost);
    color: white;
  }

  .color-example4 {
    background-color: var(--primary-color-nieuw-west);
    color: white;
  }

  .color-example5 {
    background-color: var(--accent-color);
    color: black;
  }

  /* Typografie */
  #typografie {
    font-family: Arial;
  }

  .font-size-xxl {
    font-size: 2.8rem;
  }

  .font-size-xl {
    font-size: 1.8rem;
  }

  .font-size-l {
    font-size: 1.5rem;
  }

  .font-size-m {
    font-size: 1.2rem;
  }

  .font-size-s {
    font-size: 1rem;
  }

  .font-size-xs {
    font-size: 0.8rem;
  }

  .bold {
    font-weight: 700;
  }

  .blockquote1 {
    /* Voor elke blockquote (verander de background-color naar wens) */
    background-color: var(--accent-color);
    color: var(--text-color-blockquote);
    text-align: center;
    font-style: italic;

    /* Speel hier zelf mee */
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-radius: 6rem;
    max-width: 400px;
  }

  /* Formulier elementen */
}
